
@{
    ViewBag.Title = "Home Page";
}

<h1>Crowd sourced avalaunche buletin</h1>

@model List<AvalancheAllerts.Data.Models.Test>

<h2 class="text-danger">The informarion is provided as is without any guarantee</h2>
<p>The information is maintained by volunteers. It is not an official avalaunche buletin. Please check the official avalaunche buletin for uoyr resort if there is one.</p>
<div class="row">
    <input type="number" id="radius" value="50"/>
    <button id="filter">Filter</button>
    @Html.Partial("_TestsMapView")

    <script type="text/javascript">
        var map;
        var leafletMap = leafletMap();
        var controlSearch;

        $(document).ready(function () {
            map = leafletMap.initMap('map');
            controlSearch = leafletMap.initSearch(map);
            
            var radius = $('#radius').val();
            controlSearch.on('search_locationfound', function (data) {
                ShowNearby(radius, data);
            });

            ShowNearby(radius);
        });

        $('#filter').click(function() {
            var radius = $('#radius').val();
            ShowNearby(radius);
        });

        function ShowNearby(radius, position) {

            if (!position) {
                map.locate({
                    setView: false,
                    maxZoom: 16
                });
            } else {
                onLocationFound(position);
            }

            function onLocationFound(e) {
                //var radius = e.accuracy / 2;

                //L.marker(e.latlng).addTo(map);

                var position= {
                    Latitude: e.latlng.lat,
                    Longitude: e.latlng.lng
                }
                //L.circle(e.latlng, radius).addTo(map);

                var request = { lat: e.latlng.lat, lon: e.latlng.lng, radius: radius }
                $.getJSON("/Tests/Nearby", request, function (data) {
                    data.push(position);
                    leafletMap.onData(data);
                });
            }

            function onLocationError(e) {
                $.getJSON("/Tests/GetAll", null, function (data) {
                    leafletMap.onData(data);
                });
            }

            map.once('locationfound', onLocationFound);
            map.once('locationerror', onLocationError);
        }
    </script>
</div>