
@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>


@model List<AvalancheAllerts.Data.Models.Test>
<div class="row">
    <input type="number" id="radius" value="50"/>
    <button id="filter">Filter</button>
    @Html.Partial("_TestsMapView")

    <script type="text/javascript">
        var map;
        var controlSearch;

        $(document).ready(function () {
            map = buildMap('map');
            controlSearch = initMapSearch(map);
            
            var radius = $('#radius').val();
            controlSearch.on('search_locationfound', function (data) {
                ShowNearby(radius, data);
            });

            ShowNearby(radius);
        });

        $('#filter').click(function() {
            var radius = $('#radius').val();
            ShowNearby(radius);
        })

        function ShowNearby(radius, position) {

            if (!position) {
                map.locate({
                    setView: false,
                    maxZoom: 16
                });
            } else {
                onLocationFound(position);
            }

            function onLocationFound(e) {
                //var radius = e.accuracy / 2;

                L.marker(e.latlng).addTo(map);

                L.circle(e.latlng, radius).addTo(map);

                var request = { lat: e.latlng.lat, lon: e.latlng.lng, radius: radius }
                $.getJSON("/Tests/Nearby", request, function (data) {
                    printMap(map, data);
                });
            }

            function onLocationError(e) {
                $.getJSON("/Tests/GetAll", null, function (data) {
                    printMap(map, data);
                });
            }

            map.once('locationfound', onLocationFound);
            map.once('locationerror', onLocationError);

            /*if (!navigator.geolocation) {
                output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
                return;
            }*/
            /*function success(position) {
                
                var request = { lat: position.coords.latitude, lon: position.coords.longitude, radius: radius }
                $.getJSON("/Tests/Nearby", request, function(data) {
                    printMap(map, data);
                });
            };

            function error() {
                $.getJSON("/Tests/GetAll", null, function(data) {
                    printMap(map, data);
                });
            };

            navigator.geolocation.getCurrentPosition(success, error);*/
        }
    </script>
</div>