@model AvalancheAllerts.Web.ViewModels.Feedback.FeedbackInputModel

@{
    ViewBag.Title = "Feedback form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.EditorForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}