@model AvalancheAllerts.Web.ViewModels.Organisation.OrganisationCreateModel

@{
    ViewBag.Title = "Create Organisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.EditorForModel();

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
