@model AvalancheAllerts.Web.ViewModels.Test.TestCreateModel

@{
    ViewBag.Title = "Edit Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@Html.EditorForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
